@using YangOne.Localization
@inject ILocaleResourceProvider LocaleResource;
@{
    LocaleResource.LookUpGroupAt("Account");
    ViewData["Title"] = LocaleResource.Get("Account.ForgotPassword.Confirmation.Title");
    Layout = "_LoginLayout";
}

<section class="login-block section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-card card">
                    <div class="card-body">
                        <h3 class="card-title"> @LocaleResource.Get("Account.ForgotPassword.Confirmation.Title")</h3>
                        <div class="form-content">

                            <div class=" p-4">
                                <p>
                                    @LocaleResource.Get("Account.ForgotPassword.Confirmation.CheckMessage")
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
