
--[dbo].[usp_RolePermission_GetByRoleId] 2
CREATE OR ALTER PROCEDURE [dbo].[usp_RolePermission_GetByRoleId] 
@roleid int

AS
SET NOCOUNT ON
	SELECT 
		U.ApplicationControllerActionId,
		U.RouteUrl,
		U.FriendlyName,
		IsNUll(R.RoleId,@roleid) as RoleId,
		IsNUll(R.AllowAccess,0) AllowAccess,
		C.[Name] as ControllerName,
		C.ApplicationControllerId 
	FROM 
	ApplicationControllerAction U left Join MasterRolePermission R On U.ApplicationControllerActionId=R.ApplicationControllerActionId AND R.RoleId=@roleid
	LEFT JOIN ApplicationController C ON U.ApplicationControllerId=C.ApplicationControllerId
	ORDER BY U.RouteUrl ASC

SET NOCOUNT OFF