
CREATE OR ALTER PROCEDURE [dbo].[usp_RolePermission_GetAll] 
AS
SET NOCOUNT ON
	SELECT 
		U.ApplicationControllerActionId,
		U.RouteUrl,
		U.ActionUrl,
		IsNull(R.RoleId,0) as RoleId,
		R.AllowAccess,
		C.[Name] as ControllerName,
		C.ApplicationControllerId
	FROM 
	ApplicationControllerAction U left Join MasterRolePermission R On U.ApplicationControllerActionId=R.ApplicationControllerActionId
	LEFT JOIN ApplicationController C ON U.ApplicationControllerId=C.ApplicationControllerId


SET NOCOUNT OFF
