@using System.Linq;
@using Kachuwa.Web
@model Kachuwa.BlogEngine.Model.ArchiveViewModel

<section class="container-fluid">
    <h2 class="view-title">Archives</h2>
    <div class="archives">
        <div class="container">
            @if (!Model.Months.Any())
            {
                <div class="well">
                    <p>No Archieved Posts.</p>
                </div>
            }
            else
            {
                @foreach (var month in Model.Months)
                {
                    <div class="post-archives">
                        <p class="archive-month">
                            <a href="/blog/archive/@month">
                                <span>@month.ToString()</span>
                            </a>
                        </p>
                    </div>

                }
            }
        </div>

    </div>

</section>

